#cy {
    width: 90%;
    height: 90vh;
    border: 2px solid rgb(151, 39, 39);
}
.head-buttons {
    margin: 5px;
}
.head-buttons button {
    margin: 5px;
}
.label {
    font-size: 1em;
    color: #000;
    text-shadow: 0 0 1px #fff;
}
.number-input{
    width: 50px;
}